<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
iframe {
	height: 100px;
	width: 250px;
}
</style>
</head>
<body>
	<h2>Display Play Lists:</h2>
</head>
<body>
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="plist:${allplaylists}">
				<td th:text="${plist.name}"></td>
				<td>
					<ul>
						<Li th:each="song :${plist.songs}"><span
							th:text="${song.name}"></span> 
							<audio controls>
								<source th:src="${song.link}" type="audio/mpeg">
							</audio>
						</Li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>